body{
    background-image: url(../Image/j.jpg);

}
main div{
    border: solid red 3PX;
    border-radius: 14%;
    width: 22%;
    height: 270PX;
    transform: translate(51.5%);
}
MAIN div img{
    width: 130PX;
    height: 130PX;
    POSITION: absolute;
    LEFT: 28%;
    BOTTOM: 50%;
}
.g {
    position: absolute;
    top: 2%;
    left: 30%
}
.i {
    position: absolute;
    top: 4%;
    left:34%;
}
.m {
    position: absolute;
    top: 4%;
    left: 33%;
}
#div{
    position: absolute;
    top: 35%;
    right: 50%;
}
#divvv{
    position: absolute;
    top: 35%;
    right:17%
}
#divv{
    position: absolute;
    top: 35%;
    right: 83%;
}
.g{
    width: 39%;
    height: 47%;
}
h1{
    position: absolute;
    top: 30%;
    right: 40%;
    color: white

}
.hh{
   position: absolute;
   top: 32%;
   right: 34%;
   color: white
   
}
.hhh{
    position: absolute;
    top: 33.5%;
    right: 41%;
    color: white

 }
 .downloa {
    position: absolute;
    top: 78%;
    right: 5%;
    border-radius:4%;
    border: solid  rgb(255, 174, 0) 3PX;
    width: 91%;
    height: 16%;
    outline: none;
    background-color: rgb(255, 174, 0);
    font-size:24PX ;
    font-family: A Jannat LT;
    text-align: center;
    cursor: pointer;
    line-height:16% ;

}

    
    


.download:hover  {
    background-color: rgb(0, 255, 0);


}
DIV button:HOVER{
    border: solid rgb(0, 255, 0) 3PX;   

}
.download{
    position: absolute;
    top: 57%;
    right: 5%;
    border-radius:4%;
    border: solid rgb(255, 174, 0) 3PX;
    width: 91%;
    height: 16%;
    outline: none;
    background-color: rgb(255, 174, 0);
    font-size:24PX ;
    font-family: A Jannat LT;
    text-align: center; 
    line-height: 16%;
    cursor: pointer;
}
.downloa:hover{
    background-color: rgb(0, 255, 0);
}
@media only screen and (max-width:1057px) and (min-width:928px){
    main div{
        width: 28.5%;
    }
    
}
@media only screen and (max-width:1366px){
    main div{
        width:28.5% ;
    }
}
@media only screen and (max-width:1280px){
.hh{
    right: 31%;
}
h1{
    right: 36%;
}

}
@media only screen and (max-width:1104px){
    .hh{
        right: 28%;
    }
    .g{
        width: 51%;
        left: 26%;
    }
    .m,.i{
        left: 27%;
    }
.hhh{
    right: 38%;
}
}
@media only screen and (max-width:1039px){
    .hh{
        right: 23%;
    }
}
@media only screen and (max-width:1000px){
.hh{
    right: 22%;

}
h1{
    right: 32%;

}
}
@media only screen and (max-width:920px){
    .m{
left: 24%;
    }
    .i{
        left: 25%;
    }
    .g{
        left: 25%;
    }
}
@media only screen and (max-width:876px){
    main div{
        width: 28%;
    }
}
@media only screen and (max-width:850px){
    .i,.m{
        left: 21%;
    }
}


@media only screen and (max-width:844px){
    .download{
        font-size: 22px;
    } 
    .i{
        left: 23%;
    }
}
@media only screen and (max-width:812px){
    .download{
        font-size: 21px;
    } 

    


 }
 @media only screen and (max-width:780px){
    main div{
        width: 28%;
    }
    
}
@media only screen and (max-width:754px){
    .download{
        font-size: 20.5px;
    }
    .i,.m{
        left: 19%;
    }
}

@media only screen and (max-width:750px){
    .i,.m{
        left: 19%;
    }
@media only screen and (max-width:737px){
    main div{
        width: 49.5%;
    }
    #divvv{
        right: 49.5%;
        top: 65%;
    }
    #div{
        position: absolute;
        top: 135%;
        right: 49.5%;
    } 
    #divv{
        position: absolute;
        top: 205%;
        right: 49.5%;
    } 
    .i,.m{
        left: 31%;
    } 
}
@media only screen and (max-width:729px){
    .i,.m{
        left: 31%;
    }
}
}
@media only screen and (max-width:600px){
    .i,.m{
        left: 27%;
    }
}
@media only screen and (max-width:570px){
    .i,.m{
        left: 26%;
    }
}




@media only screen and (max-width:575px){
    
    main div{
        width: 47.5%;
    }
}
@media only screen and (max-width:566px){
    .download{
        font-size: 20.5px;
    }
    main div{
        width: 47.5%;
    }
}
@media only screen and (max-width:540px){
    main div{
        width: 47.5%;
    }
}
@media only screen and (max-width:500px){
    #div{
        top: 185%;
    }
    #divv{
        top: 250%;
    }
    #divvv{
        top: 115%;
    }
    .g{
        width: 51%;
        left: 24%;
    }
    main div img{
        width: 100px;
        height: 100px;
    }
    .i,.m{
        left: 29%;
    }
    
        
    
    
}
@media only screen and (max-width:433px){
    .i,.m{
        left: 27%;
    }
    main div
    {
        width: 50%;
    }
}
@media only screen and (max-width:423px){
    .download{
        font-size: 19.5px;
    }
    main div
    {
        width: 50%;
    }
}
@media only screen and (max-width:405px){
    .download{
font-size: 18.5px; 
   }
   .downloa{
    font-size: 18.5px;
    font-weight: bolder;

}
.i,.m{
    left: 26%;
}
main div
    {
        width: 50%;
    }

}

@media only screen and (max-width:386px){
    main div
    {
        width: 50%;
    }
}
@media only screen and (max-width:367px){
    main div
    {
        width:50%;
        
    }
    .download{
        font-size: 16.5px;
        font-weight: bolder;

    }
    .downloa{
        font-size: 16.5px;
        font-weight: bolder;

    }
    .i,.m{
        left: 22%;
    }
}
@media only screen and (max-width:349px){
    main div{
        width: 51%;
    }
    .download{
        font-size: 15.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 15.5px;
        font-weight: bolder;

    }
    .i,.m{
        left: 21%;
    }
    
}
@media only screen and (max-width:325px){
    .download{
        font-size: 14.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 14.5px;
        font-weight: bolder;

    }


}

@media only screen and (max-width:307px){
    .download{
        font-size: 13.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 13.5px;
        font-weight: bolder;

    }

    
}
@media only screen and (max-width:290px){
    .download{
        font-size: 12px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 13px;
        font-weight: bolder;

    }
    

    main div img{
        width: 90px;
        height: 90px;
    }
     .i,.m{
        left: 19%;
   }
    .g{
        width: 70%;
        left: 15%;
        height: 42;
    }
    
}
@media only screen and (max-width:269px){
    .download{
        font-size: 11.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 12px;
        font-weight: bolder;

    }

    
    
}
@media only screen and (max-width:261px){
    .download{
        font-size: 11.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 12px;
        font-weight: bolder;

    }
    main div{
        width: 53%;
    }
    .i,.m{
        left: 17%;
   }

    
    
}
@media only screen and (max-width:261px){
    .download{
        font-size: 11.5px;
        font-weight: bolder;
    }
    .downloa{
        font-size: 12px;
        font-weight: bolder;

    }
    main div{
        width: 57%;
    }
    .i,.m{
        left: 16%;
   }
    }
    @media only screen and (max-width:242px){
        .download{
            font-size: 11.5px;
            font-weight: bolder;
        }
        .downloa{
            font-size: 12px;
            font-weight: bolder;
    
        }
        main div{
            width: 55%;
        }
        .i,.m{
            left: 15%;
       }
    }
    @media only screen and (max-width:225px){
        .download{
            font-size: 10.5px;
            font-weight: bolder;
        }
        .downloa{
            font-size: 11px;
            font-weight: bolder;
    
        }
        main div{
            width: 57%;
        }
        .i,.m{
            left: 15%;
       }
    }
    @media only screen and (max-width:209px){
        .download{
            font-size: 10px;
            font-weight: bolder;
        }
        .downloa{
            font-size: 11px;
            font-weight: bolder;
    
        }
        main div{
            width: 57%;
        }
        .i,.m{
            left: 13%;
       }
    }
